<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/asset/result.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ditto</title>
</head>
<script>
    function toggleUser() {
        var x = document.getElementById("userFaceDetails");
        if (x.style.display === "") {
            x.style.display = "block";
            document.getElementById('userDetailsButton').text = "Hide User Details"
        } else {
            x.style.display = "";
            document.getElementById('userDetailsButton').text = "Show User Details"
        }
    }
    function toggleMatch() {
        var x = document.getElementById("matchFaceDetails");
        if (x.style.display === "") {
            x.style.display = "block";
            document.getElementById('matchDetailsButton').text = "Hide <%=faceName%> \'s Details";
        } else {
            x.style.display = "";
            document.getElementById('matchDetailsButton').text = "Show <%=faceName%> \'s Details";
        }
    }
    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById('list').value = "<%=selectedListOption%>";
    });
</script>

<body>
    <div id="particles-js"></div>
    <script src="asset/particles1.js"></script>
    <div id="container">
    </div>

    <div id="content">
            <table id="faceMatchTable">
                <tr>
                    <td colspan="2" style="text-align:center;"><a href="/" id="faceInputLabel">Face Match</a></td>
                </tr>
                <form method="POST" enctype="multipart/form-data" action="/find">
                <tr>
                    <td>
                        <select name="list" id="list">
                                <option name="billion" value="billion">Billionaires</option>
                                <option name="actors" value="actors">Actors</option>
                                <option name="presidents" value="presidents">Presidents</option>
                                <option name="nba" value="nba">NBA Players</option>
                                <option name="tennis" value="tennis">Tennis Players</option>
                                <option name="astronauts" value="astronauts">Astronauts</option>
                        </select>
                    </td>
                    <td>
                        <input type="file" id="fileInput" name="find" accept="image/png, image/jpeg">
                        <button type="submit" value="find" ><i class="fa fa-search"></i></button>
                    </td>
                    <% if (faceTo != "https://i.imgur.com/07cVd1J.png"){ %>
                    <td>
                        <a href="https://twitter.com/intent/tweet?button_hashtag=tweet&ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Look Who I matched within my ditto.tech" data-url="<%=face%>" data-show-count="false">Share</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </td>
                    <%}%>
                </tr>
            </table>
        </form>
        <div id="imageResultContainer">
            <table id="imageResultTable">
                <tr>
                    <th>
                        <img id="userPhoto" class="imageResult" src="<%=face%>">
                    </th>
                    <th>
                        <img id="resultPhoto1" class="imageResult" src="<%=faceTo%>">
                    </th>
                </tr>
                <tr>
                    <td id="userImgTableParent">
                        <table id="userInnerImgTable">
                            <tr>
                                <td rowspan="2">Your Photo</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table id="matchInnerImgTable">
                            <tr>
                                <td><%=faceName%></td>
                            </tr>
                            <tr>
                                <td>You are a <strong><%=confidenceLevel%>%</strong> match look alike</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><a href="#" id="userDetailsButton" onclick="toggleUser()">Show Your Details</a></td>
                    <td><a href="#" id="matchDetailsButton" onclick="toggleMatch()">Show <%=faceName%>'s Details</a></td>
                </tr>
                <tr>
                    <td>
                        <table id="userFaceDetails">
                            <% for (elem in userDetails) {%>
                            <%if (elem == "accessories") {%>
                                <%continue%>
                            <%}%>        
                            <%if (typeof userDetails[elem] != "object") {%>
                            <tr>
                                <td><span class="detailHead"><%=elem%></span><%=": " + userDetails[elem]%></td>
                            </tr>
                            <%} else {%>
                            <tr>
                                <td><span class="detailHead"><%=elem%></span><span> : {</span></td>
                            </tr>
                            <% for (inner in userDetails[elem]) {%>
                            <%if (inner == "hairColor") {%>
                                <%continue%>
                            <%}%>
                            <tr>
                                <td>&nbsp;&nbsp;<span class="detailHead"><%=inner%></span><%=": " + userDetails[elem][inner]%></td>
                            </tr>
                            <%}%>
                            <td>}</td>
                            <%}%>
                            <%}%>
                        </table>
                    </td>
                    <td>
                        <table id="matchFaceDetails">
                        <% for (elem in matchDetails) {%>
                        <%if (elem == "accessories") {%>
                            <%continue%>
                        <%}%>         
                        <%if (typeof matchDetails[elem] != "object") {%>
                        <tr>
                            <td><span class="detailHead"><%=elem%></span><%=": " + matchDetails[elem]%></td>
                        </tr>
                        <%} else {%>
                        <tr>
                            <td><span class="detailHead"><%=elem%></span><span> : {</span></td>
                        </tr>
                        <% for (inner in matchDetails[elem]) {%>
                            <%if (inner == "hairColor") {%>
                                <%continue%>
                            <%}%>
                        <tr>
                            <td>&nbsp;&nbsp;<span class="detailHead"><%=inner%></span><%=": " + matchDetails[elem][inner]%></td>
                        </tr>
                        <%}%>
                            <td>}</td>
                        <%}%>
                        <%}%>
                        </table>    
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
